@using System.Diagnostics.Eventing.Reader
@using FinalBookStore.Models.EntityFramework
@using Microsoft.Ajax.Utilities
@model FinalBookStore.Models.EntityFramework.AUTHOR

<div>
    <h2>Author's Books</h2>

    @if(@Model.WROTEs.Count > 0){
    <table class="table">
        <thead>
        <tr>
            <th>Book Code</th>
            <th>Title</th>
            <th>Type</th>
            <th>Price</th>
            <th>Paperback</th>
            <th>Publisher</th>
        </tr>
        </thead>
        <tbody>
        @if (Model.BOOKs != null){
            foreach (BOOK vp in Model.BOOKs)
            {
                <tr>
                    <th> 
                        @Html.ActionLink(
                            @vp.BOOK_CODE,                                                  // linkText
                            "Details",                                    // actionName
                            "BOOKs",                                                   // controllerName
                            new {                                                     // routeValues
                                ID = @vp.BOOK_CODE
                            },
                            null                                                      // htmlAttributes
                            )
                    </th>
                    <th>@vp.TITLE</th>
                    <th>@vp.TYPE</th>
                    @{ decimal x = vp.PRICE.Value;}
                    <th>@x.ToString("C2")</th>
                    @if (@vp.PAPERBACK == "1")
                    {
                        <th>True</th>
                    }
                    @if (@vp.PAPERBACK == "0")
                    {
                        <th>False</th>
                    }
                    <th>
                        @Html.ActionLink(
                            @vp.PUBLISHER.PUBLISHER_NAME,                                                  // linkText
                            "Details",                                    // actionName
                            "PUBLISHERs",                                                   // controllerName
                            new {                                                     // routeValues
                                ID = @vp.PUBLISHER.PUBLISHER_CODE
                            },
                            null                                                      // htmlAttributes
                            )
                    </th>
                </tr>
            }
        }
        @if (Model.Book != null){
        <tr>
            <th> 
                @Html.ActionLink(
                                    @Model.Book.BOOK_CODE,                                                  // linkText
                                    "Details",                                    // actionName
                                    "BOOKs",                                                   // controllerName
                                    new {                                                     // routeValues
                                        ID = @Model.Book.BOOK_CODE
                                    },
                                    null                                                      // htmlAttributes
                                    )
                </th>
            <th>@Model.Book.TITLE</th>
            <th>@Model.Book.TYPE</th>
            @{ decimal x = Model.Book.PRICE.Value;}
            <th>@x.ToString("C2")</th>
            @if (@Model.Book.PAPERBACK == "1")
            {
                <th>True</th>
            }
            @if (@Model.Book.PAPERBACK == "0")
            {
                <th>False</th>
            }
            <th>
                @Html.ActionLink(
                    @Model.Book.PUBLISHER.PUBLISHER_NAME,                                                  // linkText
                    "Details",                                    // actionName
                    "PUBLISHERs",                                                   // controllerName
                    new {                                                     // routeValues
                        ID = @Model.Book.PUBLISHER.PUBLISHER_CODE
                    },
                    null                                                      // htmlAttributes
                    )
            </th>
        </tr>
        }
        </tbody>

    </table>
    }
    @if (@Model.WROTEs.Count == 0)
    {
        <br/>
        <h2>No Books Written by this Author</h2>
    }
</div>
