@using System.Activities.Statements
@using FinalBookStore.Models.EntityFramework
@model IEnumerable<FinalBookStore.Models.EntityFramework.PUBLISHER>

@{
    ViewBag.Title = "Details";
    var x = Model;
    bool check = Model.First() == null;
}


@if (!check)
{
    <div>
        <hr/>

        <table class="table">
            <thead>
            <tr>
                <th>Book Code</th>
                <th>Title</th>
                <th>Type</th>
                <th>Price</th>
                <th>Paperback</th>
            </tr>
            </thead>
            <tbody>
            @foreach (PUBLISHER p in Model)
            {
                foreach (BOOK b in p.BOOKs)
                {
                <tr>
                    <th>
                         @Html.ActionLink(
                                  b.BOOK_CODE, // linkText
                                  "Details", // actionName
                                  "BOOKs", // controllerName
                                  new
                                  {
                                      // routeValues
                                      ID = b.BOOK_CODE
                                  },
                                  null // htmlAttributes
                                  )
                    </th>
                    <th>@b.TITLE</th>
                    <th>@b.TYPE</th>
                    @{ decimal t = b.PRICE.Value;}
                    <th>@t.ToString("C2")</th>
                    <th>@b.PAPERBACK</th>
                </tr>
                }
            }
            </tbody>

        </table>
    </div>
}