<div id="nav1" class="navbar navbar-inverse navbar-fixed-top animate__animated animate__bounceInDown">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Browse Inventory", "Index", "INVENTORies")</li>
                <li>@Html.ActionLink("By Author", "Index", "AUTHORs")</li>
                <li>@Html.ActionLink("By Publisher", "Index", "PUBLISHERs")</li>
                <li>@Html.ActionLink("By Location", "Index", "BRANCHes")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
        </div>
    </div>
</div>
