@model IEnumerable<FinalBookStore.Models.EntityFramework.BRANCH>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BRANCH_LOCATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUM_EMPLOYEES)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BRANCH_LOCATION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUM_EMPLOYEES)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BRANCH_NUM }) |
            @Html.ActionLink("Details", "Details", new { id=item.BRANCH_NUM }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BRANCH_NUM })
        </td>
    </tr>
}

</table>
