@model FinalBookStore.Models.EntityFramework.WROTE

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>WROTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SEQUENCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEQUENCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHOR.AUTHOR_LAST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHOR.AUTHOR_LAST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK.TITLE)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
