@model FinalBookStore.Models.EntityFramework.WROTE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>WROTE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SEQUENCE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEQUENCE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHOR.AUTHOR_LAST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHOR.AUTHOR_LAST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BOOK.TITLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BOOK.TITLE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
