@model FinalBookStore.Models.EntityFramework.PUBLISHER

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>PUBLISHER</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PUBLISHER_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PUBLISHER_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CITY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CITY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PUBLISHER_CODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>